@import "../../styles/var";
@import "./userCard/UserCard.module";

.users{
  text-align: center;
  padding: 0 0 40px;
  h2{
    text-align: left;
    margin-bottom: 40px;
    @include xl{
      margin-bottom: 20px;
    }
  }
}

.blockCaption{
  display: none;
  @include xl{
    display: grid;
    grid-auto-rows: 40px;
  }
}
